!!!
html
  head
    script(src="/socket.io/socket.io.js")
    script(src='/kinetic-v3.8.3.js')
    script(src='/sexylib.js')
    script(type="text/javascript", src='/sailing.js')
  body
    p hello
    #map
